table {    
    border-collapse:collapse;
}

td {
    border: 1px solid purple;
}

.tc {
    text-align: center;
}

.fg {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: #00000080;
    width: 100%;
    height: 100%;
}

#result {
    text-align: center;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
}

.c {
    padding: 50px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

th.rotate {
    height: 200px;
    white-space: nowrap;
}

th > div {
    transform: translateY(81px);
    -ms-transform: translateY(81px);
}

th.rotate > div {
    transform: translate(1em, 81px) rotate(315deg);
    -ms-transform: translate(1em, 81px) rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid purple;
    padding: 5px 10px;
}

.volet {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    overflow: auto;
    background-color: #d0d0d0;
    /* width: 25%; */
    z-index: 5;
}

.volet_ouvert {
    padding: 10px;
    display: none;
}

.volet_fermer {
    display: block;
    width: 2em;
}

.volet_fermer > div{
    position: absolute;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    top: 50%;
    right: -1em;
}

.volet_ouvert > div{
    text-align: center;
}